/* --------------------------- layout --------------------------- */

/* frame */
.wrapper {
  width: 100vw;
  position: relative;
  padding: var(--side-margin-fr);
  overflow: hidden;
  &.tier {
    padding-top: 100px;
    .inner-wrapper {
      min-height: calc(100vh - 135px);
    }
    .logo-main {
      opacity: 1;
      visibility: visible;
    }
  }
}
.inner-wrapper {
  width: 100%;
  min-height: calc(100vh - 70px);
  /* height: 100%; */
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  /*   transition: all 0.3s ease-out; */
}

/* global */
.section-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  /*   &.hpad {
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
  }
  &.vpad {
    padding-top: var(--top-margin);
    padding-bottom: var(--top-margin);
  } */
  &.vis {
    overflow: visible;
  }
}
.content-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: var(--baseW);
}
.row-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 165px 1fr 165px;
  align-items: start;
}
@media (min-width: 1401px) {
  .row-wrapper {
    .hpad {
      padding-left: 0;
      padding-right: 0;
    }
    .pl {
      padding-left: 12px;
    }
  }
}
.page-grid {
  display: grid;
  grid-template-columns: 24% 1fr 400px;
  &.wide {
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.sidebar {
  display: grid;
  justify-content: end;
  .inner {
    width: 100%;
    max-width: 350px;
    height: 100%;
    padding: var(--top-marginM) 25px;
  }
}
.side-body {
  > * + * {
    margin-top: 25px;
  }
}
.row {
  &.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &.gap {
      gap: 50px;
    }
  }
  &.has-line {
    .col + .col {
      border-left: 1px solid #000;
    }
  }
}
.col {
  position: relative;
  &.a-rt {
    display: grid;
    justify-items: end;
  }
  &.p-rt {
    padding-right: 50px;
  }
}
.txt-grp {
  width: 100%;
}
.grid {
  display: grid;
  &.three-col {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
.flex-jst {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1450px) {
  .sidebar {
    padding-left: 50px;
  }
  .txt-cols {
    columns: 2 auto;
    column-gap: var(--top-marginM);
    p + p {
      margin-top: 0;
    }
    p {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 1400px) {
  .page-grid {
    grid-template-columns: 24% 1fr 375px;
  }
  .row-wrapper {
    display: block;
  }
}

@media (max-width: 1200px) {
  .page-grid {
    grid-template-columns: 24% 1fr;
  }
  .row {
    &.two-col {
      grid-template-columns: auto;
      > .col {
        max-width: none !important;
        padding: 0;
        place-content: start !important;
        .txt-grp,
        p {
          max-width: none !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        &.lt {
          padding-right: 5%;
        }
        + .col {
          margin-top: var(--top-marginM);
        }
      }
      &.gap {
        gap: 25px;
      }
    }
    &.has-line {
      .col + .col {
        border-left: none;
        margin-top: 30px;
      }
    }
  }
  .sidebar {
    grid-column: 1 / span 3;
    margin-top: var(--top-marginM);
    .inner {
      max-width: none;
    }
  }
  .grid {
    &.three-col {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      .bucket:last-child {
        grid-column: 1 / span 2;
      }
    }
  }
}

@media (max-width: 1024px) {
  .page-grid {
    > div {
      grid-column: 1 / span 3;
      padding: 0;
    }
    &:not(.wide) {
      .content-wrapper,
      h1 {
        padding-left: var(--side-marginM);
        padding-right: var(--side-marginM);
      }
    }
    .content-wrapper {
      padding-top: var(--top-marginM);
    }
  }
  .wrapper.tier {
    padding-top: 75px;
  }
  .inner-wrapper {
    border-radius: 30px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 15px 15px 35px;
  }
  .grid {
    &.three-col {
      display: block;
      .bucket + .bucket {
        margin-top: 25px;
      }
    }
  }
}
@media (max-width: 650px) {
  .wrapper {
    padding-bottom: 0;
  }
}

/* --------------------------- ui --------------------------- */
.bucket {
  position: relative;
  border: 1px solid var(--ltgray);
  border-radius: 20px;
  overflow: hidden;
  .row:not(.nopad) {
    padding: 20px 25px;
    + .row {
      border-top: 1px solid var(--ltgray);
    }
  }
  h3 {
    font-size: 22px;
    text-transform: uppercase;
  }
}
.tags {
  list-style: none;
  li {
    font-size: 32px;
    padding: 15px 20px;
    border: 1px solid var(--ltgray);
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    /* cursor: pointer; */
  }
  li a {
    color: var(--dkgray);
    text-decoration: none;
  }
}
.circle-crop {
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  overflow: hidden;
}
.item-list {
  list-style: none;
  li {
    padding: 10px 10px;
    padding-left: 50px;
    background-color: #fff;
    position: relative;
    + li {
      margin-top: 5px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 22px;
      top: 1.1em;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--pink);
    }
  }
}
.trans-all {
  transition: all 0.3s linear;
}

@media (max-width: 1400px) {
  .tags li {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .tags li {
    font-size: 22px;
    padding: 10px;
  }
}
@media (max-width: 1024px) {
  .bucket {
    h3 {
      font-size: 20px;
    }
    .row.row:not(.nopad) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
@media (max-width: 768px) {
  .tags li {
    font-size: 19px;
  }
}

/* --------------------------- buttons --------------------------- */
a {
  transition: all 0.3s linear;
}
a:not(.block) {
  color: var(--pink);
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
  }
}
.btn-arr {
  width: 28px;
  display: inline-block;
  margin-left: 15px;
}
.circ-arr {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 6px;
  margin-left: 10px;
  .arr {
    object-fit: contain;
  }
}

/* --------------------------- tier --------------------------- */

.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: white;
  pointer-events: none;
  will-change: transform;
}
