/* vars */
:root {
  --pink: #ff7bac;
  --dkpink: #fe5594;
  --yellow: #ffe569;
  --green: #7ad96a;
  --blue: #4cbbdf;
  --gray: #ccc;
  --ltgray: #e5e5e5;
  --dkgray: #999;
  --baseW: 1400px;
  --side-margin-fr: 35px;
  --side-margin: 50px;
  --side-marginM: 25px;
}
::-moz-selection {
  background: var(--pink);
  color: #fff;
}
::selection {
  background: var(--pink);
  color: #fff;
}
.bd-yellow {
  border-color: var(--yellow);
}
.gradbg {
  background: linear-gradient(
    0deg,
    #ff81a0 3%,
    #ffb53f 30%,
    #ffcb52 40%,
    #ffe569 52%,
    #7ad96a 75%,
    #4cbbdf 98%
  );
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-green {
  background-color: var(--green);
}

/* text */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
h1 {
  font-weight: 100;
  font-size: 50px;
}
.small-caps {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.content-wrapper {
  p {
    font-size: 25px;
    line-height: 1.4;
  }
}
@media (max-width: 1024px) {
  .content-wrapper p {
    font-size: 18px;
  }
}

/* layout */
.wrapper {
  width: 100vw;
  position: relative;
  padding: var(--side-margin-fr);
  overflow: hidden;
  &.tier {
    padding-top: 100px;
    .contact-btn {
      top: 25px;
    }
    .logo-main {
      opacity: 1;
    }
  }
}
.inner-wrapper {
  width: 100%;
  min-height: calc(100vh - 70px);
  /* height: 100%; */
  background-color: white;
  border-radius: 50px;
  overflow: scroll;
  position: relative;
  /*   transition: all 0.3s ease-out; */
}
.content-wrapper {
  margin: 0 auto;
  max-width: var(--baseW);
}
section,
.global {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
  &.nopad {
    padding-left: 0;
    padding-right: 0;
  }
  &.vis {
    overflow: visible;
  }
}
.row {
  &.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &.has-line {
    .col + .col {
      border-left: 1px solid #000;
    }
  }
}
.col {
  &.a-rt {
    display: grid;
    justify-items: end;
  }
}
.txt-grp {
  width: 100%;
}
@media (max-width: 1200px) {
  section,
  .global {
    padding-left: var(--side-marginM);
    padding-right: var(--side-marginM);
  }
  .row {
    &.two-col {
      grid-template-columns: auto;
      .col {
        max-width: none !important;
        padding: 0;
        place-content: start !important;
        .txt-grp,
        p {
          max-width: none !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        &.lt {
          padding-right: 5%;
        }
      }
    }
    &.has-line {
      .col + .col {
        border-left: none;
        margin-top: 50px;
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 15px 15px 35px;
  }
}

/* ui */
.tags {
  list-style: none;
  li {
    color: var(--dkgray);
    font-size: 32px;
    padding: 15px 20px;
    border: 1px solid var(--ltgray);
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    /* cursor: pointer; */
  }
}
.circle-crop {
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .tags li {
    font-size: 18px;
    padding: 10px;
  }
}

/* buttons */
a {
  transition: all 0.3s linear;
}
a:not(.block) {
  color: var(--pink);
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
  }
}

/* tier */
header.tier {
  height: 300px;
  position: relative;
  overflow: hidden;
}
