/* --------------------------- vars --------------------------- */
:root {
  /* colors */
  --pink: #ff7bac;
  --dkpink: #fe5594;
  --yellow: #ffe569;
  --paleyellow: rgba(255, 229, 105, 0.3);
  --green: #7ad96a;
  --palegreen: rgb(122, 217, 106, 0.3);
  --blue: #4cbbdf;
  --gray: #ccc;
  --ltgray: #e5e5e5;
  --dkgray: #999;

  /* bounds */
  --baseW: 1400px;
  --baseWS: 900px;

  /* margins */
  --top-margin: 65px;
  --top-marginM: 40px;
  --side-margin-fr: 35px;
  --side-margin: 50px;
  --side-marginM: 25px;
  --full-margin: 100px;

  /* animation */
  --ease-in-out: transform 0.5s cubic-bezier(1, 0, 0.5, 1);
  --ease-in: transform 0.5s cubic-bezier(0.57, 0, 1, 0.48);
  --ease-out: transform 0.5s cubic-bezier(0, 0.89, 0.32, 1);
}

.bd-yellow {
  border-color: var(--yellow);
}
.gradbg {
  background: linear-gradient(
    0deg,
    #ff81a0 3%,
    #ffb53f 30%,
    #ffcb52 40%,
    #ffe569 52%,
    #7ad96a 75%,
    #4cbbdf 98%
  );
}
.pink {
  color: var(--pink);
}
.green {
  color: var(--green);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-paleyellow {
  background-color: var(--paleyellow);
}
.bg-green {
  background-color: var(--green);
}
.bg-palegreen {
  background-color: var(--palegreen);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-blue {
  background-color: var(--blue);
}

/* --------------------------- text --------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
h1 {
  font-weight: 100;
  font-size: 50px;
}
h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
}
h2 + * {
  margin-top: 50px;
}
h4 {
  font-size: 22px;
  font-weight: 400;
  + * {
    margin-top: 30px;
  }
}
p + p {
  margin-top: 25px;
}
[class*='body-'] {
  p + ul,
  ul + p {
    margin-top: 25px;
  }
  ul:not(.item-list) {
    padding-left: 30px;
  }
}
.small-caps {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.body-sm {
  p,
  li {
    font-size: 18px;
    line-height: 1.65;
  }
}
.body-md {
  p,
  li {
    font-size: 20px;
    line-height: 1.7;
  }
}
.body-lg {
  p,
  li {
    font-size: 26px;
    line-height: 1.7;
  }
}

@media (max-width: 1200px) {
  .body-lg {
    p,
    li {
      font-size: 22px;
    }
  }
  h2 + * {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .body-md {
    p,
    li {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  h2 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
}

/* --------------------------- margins --------------------------- */

.hpad,
.p-max {
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
}
.vpad {
  padding-top: var(--top-margin);
  padding-bottom: var(--top-margin);
}
.pt {
  padding-top: var(--top-margin);
}
.pb {
  padding-bottom: var(--top-margin);
}
.pl {
  padding-left: var(--side-margin);
}
.pl {
  padding-left: var(--side-margin);
}
.pr {
  padding-right: var(--side-margin);
}
@media (min-width: 1201px) {
  .pr.mob {
    padding-right: 0;
  }
}
.p-max {
  max-width: calc(var(--baseW) + var(--full-margin));
}
.max-sm,
.content-wrapper.max-sm {
  max-width: var(--baseWS);
}

@media (max-width: 1200px) {
  .vpad {
    padding-top: var(--top-marginM);
    padding-bottom: var(--top-marginM);
  }
  .hpad {
    padding-left: var(--side-marginM);
    padding-right: var(--side-marginM);
  }
  .pt {
    padding-top: var(--top-marginM);
  }
  .pb {
    padding-bottom: var(--top-marginM);
  }
  .pl {
    padding-left: var(--side-marginM);
  }
  .pr {
    padding-right: var(--side-marginM);
  }
}

/* --------------------------- util --------------------------- */
::-moz-selection {
  background: var(--pink);
  color: #fff;
}
::selection {
  background: var(--pink);
  color: #fff;
}
